{% extends 'base.html' %}
{% load static %}

{% block browser_page_title %}Acquisto effettuato{% endblock %}

{% block personal_css %}
{% endblock %}

{% block content %}
    <div class="container py-5 my-5 text-center">
        <img class="my-4" style="width: 20%; height: auto; margin: auto" src="{% static 'img/cart_ok.png' %}"/>
        <h1 class="scritta_tariffe"> Complimenti, hai effettuato l'acquisto con successo! </h1>
        <p><a href="{% url 'user_lesson' %}"> Clicca qui </a> per andare nella tua libreria di lezioni</p>
    </div>

{% endblock %}