.card-header
{
    font-weight: bold;
    font-size: 20px;
}

.add-to-cart-icon
{
    width: 30px;
    height: auto;
}

.detail-lesson-img
{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.detail-description
{
    background-color: rgb(255,170,0);
    color: white;
    font-size: 17px;
}