/** CAROSELLO **/
.carousel-item{
    height: 650px;
}
.carousel-item img{
    height: 650px;
}

/** ESPERIENZE **/
.chi_siamo_exp h2
{
	color: rgb(255,170,0);
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.chi_siamo_exp_container
{
    display: flex;
}

.chi_siamo_exp_container h4
{
    width: 100%;
    text-align: center;
}

.chi_siamo_exp_container div
{
    text-align: center;
}

/** CARD FORMATORI **/
.chi_siamo_coach h2
{
    width: 100%;
    text-align: center;
    font-weight: bold;
	color: rgb(255,170,0);
}

.chi_siamo_coach_container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card
{
    box-shadow: 5px 5px 2.5px 0px rgba(128,128,128,0.52);
}