.lesson-img
{
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.add-to-cart-icon
{
    width: 30px;
    height: auto;
}

.add-to-cart-btn
{
    font-weight: bold;
}

.lesson-title
{
    color: black;
    font-weight: normal;
}

.lesson-title:hover
{
    font-weight: bold;
}

.lesson-title-a:link
{
    color: black;
    font-weight: normal;
    text-decoration: none;
}

/* visited link */
.lesson-title-a:visited
{
    color: black;
    font-weight: normal;
    text-decoration: none;
}

/* mouse over link */
.lesson-title-a:hover
{
    color: black;
    font-weight: normal;
    text-decoration: none;
}

/* selected link */
.lesson-title-a:active
{
    color: black;
    font-weight: normal;
    text-decoration: none;
}

.lesson-header-title
{
    color: white;
    text-decoration: none;
}

.lesson-header-title:active
{
    text-decoration: none;
    color: white;
    border: 0px;
}

.lesson-header-title:hover
{
    text-decoration: none;
    color: white;
    border: 0px;
}

.lesson-header-title:visited
{
    text-decoration: none;
    color: white;
    border: 0px;
}

.lesson-header-title:link
{
    text-decoration: none;
    color: white;
    border: 0px;
}

.lesson-header-title:focus
{
    text-decoration: none;
    color: white;
    border: 0px;
}

.lesson-header-title:focus-visible
{
    text-decoration: none;
    color: white;
    border: 0px;
}

.lesson-header-title:after
{
    text-decoration: none;
    color: white;
    border: 0px;
}

.lesson-header-icon
{
    width: 35px;
    height: auto;
}