.user_card
{
    box-shadow: black;
    border-radius: 10px;
    border: 1px solid blue;
    width: 25%;
}

.user_card img
{
    width: 200px;
    height: 200px;
}

.card_footer
{
    border-radius: 10px;
    height: 50px;
    background-color: red;
    border: 1px solid black
}

.card_footer i
{
    float: right;
}