{% extends 'struttura_staff.html' %}
{% load static %}

{% block browser_page_title %}Virgilian Code - pagina dello staff{% endblock %}

{% block personal_css %}
{% endblock %}

{% block content %}
    <div class="container my-5">
        <h1>Prenotazioni da confermare</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id prenotazione</th>
                    <th scope="col">utente</th>
                    <th scope="col">data</th>
                    <th scope="col">ora</th>
                    <th scope="col">azioni</th>
                </tr>
            </thead>
            <tbody>
                {% for b in booking %}
                    <tr>
                        <th scope="row">{{ b.id }}</th>
                        <th scope="row">{{ b.user.username }}</th>
                        <td>{{ b.data }}</td>
                        <td>{{ b.ora }}</td>
                        <td>
                            <a class="btn btn-secondary" href="{% url 'booking_status_undo' b.id %}">Annulla prenotazione</a>
                            <a class="btn btn-secondary" href="{% url 'booking_status_confirm' b.id %}">Conferma prenotazione</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h1>Prenotazioni già confermate</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id prenotazione</th>
                    <th scope="col">formatore</th>
                    <th scope="col">stato prenotazione</th>
                </tr>
            </thead>
            <tbody>
                {% for b in booking_detail %}
                    <tr>
                        <th scope="row">{{ b.booking.id }}</th>
                        <td>{{ b.formatore.username }}</td>
                        <td>
                            {% if b.stato == '1' %}
                                Confermato
                            {% else %}
                                Annullato
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}