{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}

{% block browser_page_title %}Prenotazioni{% endblock %}

{% block personal_css %}
    <link rel="stylesheet" href="{% static 'css/prenotazioni.css' %}"/>
{% endblock %}

{% block content %}
    <div class="container my-5">
        <h1 class="text-center my-5 booking-title">PRENOTAZIONI</h1>
        <div class="row my-5">
            <div class="col-6">
                <img class="booking-img" src="{% static 'img/booking_management/prenotazioni.jpg' %}"/>
            </div>
            <div class="col-6">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare efficitur sapien id viverra. In dictum lorem ut lacus pulvinar, eu fermentum arcu cursus. Maecenas at luctus nisi. Vivamus commodo euismod enim sit amet ultrices. Phasellus scelerisque elit et neque luctus, id porttitor purus ullamcorper. Phasellus efficitur neque a mauris bibendum gravida eget id lectus. Duis non semper enim. Aenean sit amet massa rutrum, ornare urna commodo, viverra dui. In a nunc pharetra, malesuada turpis ultrices, consectetur metus. Quisque mollis magna id purus viverra, lacinia ullamcorper tortor venenatis. Nunc at lacus a nulla pharetra porttitor ut in purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut malesuada nisi pharetra risus tempor fringilla. Donec porta blandit nisl. Curabitur euismod rutrum odio, ultricies gravida diam accumsan sed. Vestibulum ut auctor neque, sit amet interdum lacus. ut auctor neque, sit amet interdum lacus.
                <p>
            </div>
        </div>
        {% if not user.is_anonymous and not user.is_staff %}
            <form method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" class="btn btn-primary" style="float: right" value="effettua prenotazione">
            </form>
            <a class="btn btn-primary" href="{% url 'user_page' user.id %}">annulla</a>
        {% endif %}
    </div>
{% endblock %}