{% extends 'base.html' %}
{% load static %}

{% block browser_page_title %}Contatto{% endblock %}

{% block personal_css %}
    <link rel="stylesheet" href="{% static 'css/chi_siamo.css' %}"/>
{% endblock %}

{% block content %}
    <div class="content text-center my-5" style="margin-bottom: 30px;">
        <img style="width: 480px; height: 480px" src="{% static 'img/contatti/received.png' %}">
        <h4 class="mb-5"> Complimenti, ci hai contattato con successo! Torna alla <a href="{% url 'homePage' %}">homepage</a></h4>
    </div>
{% endblock %}