{% extends 'base.html' %}
{% load static %}

{% block browser_page_title %}Contatti{% endblock %}

{% block personal_css %}
    <link rel="stylesheet" href="{% static 'css/contatti.css' %}"/>
{% endblock %}

{% block content %}
    <div class="container my-5">
        <h1 class="titolo_contatti"> Contattaci </h1>
        <div class="container my-5 container_contatti">
            <div class="container my-5 container_contatti_foto">
                    <div class="my-auto">
                        <p class="pr-4 contatti_paragrafi"> Telefono/Whatsapp: +39 347 8742136 </p>
                        <p class="pr-4 contatti_paragrafi"> Email: renatoturbati@gmail.com
                        <p class="pr-4 contatti_paragrafi"> Skype: renato.turbati </p>
                        <p class="pr-4 contatti_paragrafi"> LinkedIn: <a href="https://it.linkedin.com/in/renato-turbati-2039a1b"> Renato Turbati </a> </p>
                    </div>
                    <img class="foto my-auto" src="{% static 'img/contatti/renato.png' %}"/>
            </div>
            <form class="div_contatti_form">
              <div class="form-group form_contatti">
                <label class="form_label contatti_form_font">La tua email</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@esempio.com">
                <label class="form_label contatti_form_font">Nome e cognome</label>
                <input class="form-control" id="exampleFormControlInput2" placeholder="">
                <label class="form_label contatti_form_font">Oggetto</label>
                <input class="form-control" id="exampleFormControlInput1" placeholder="">
                <label class="form_label contatti_form_font">Messaggio</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                <button type="submit" class="btn btn-primary contatti_bottone">Contattaci</button>
              </div>
            </form>
        </div>
    </div>

{% endblock %}