{% extends 'base.html' %}
{% load static %}

{% block browser_page_title %}Virgilian Code{% endblock %}

{% block personal_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}
    <div class="cover-image" style="background-image: url('{% static 'img/child.png' %}');">
        <h1>TESTO SPASTICO CHE TI FA CAPIRE CHE DEVI ISCRIVERTI CAZZO</h1>
        <h3>TESTO SPASTICO MA UN PO' MENO GRANDE CHE TI FA CAPIRE CHE DEVI ISCRIVERTI CAZZO</h3>
        <a class="btn btn-primary px-4" style="color: white" href="#">Registrati sul sito</a>
    </div>
{% endblock %}