{% extends 'base.html' %}
{% load static %}

{% block browser_page_title %}Virgilian Code{% endblock %}

{% block personal_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}
<div class="container py-3">
    <!-- LEZIONE FACILE -->
    {% if lesson_list_1.count != 0 or lesson_list_2.count != 0 %}
    <div class="card">
      <div class="card-header" style="background-color: #18d624">
        <h5>DIFFICOLTA' FACILE</h5>
      </div>
      <div class="card-body">
        {% for lesson in lesson_list_1 %}
            <div class="d-flex flex-row">
                <a href="{% url 'detail_lesson' lesson.id %}">
                    {% if lesson.genre == 'PC' %}
                        <img style="margin-left: 10px;" class="lesson-img" src="{% static 'img/lessons/click.png' %}"/>
                    {% elif lesson.genre == 'A' %}
                        <img style="margin-left: 15px;" class="lesson-img" src="{% static 'img/lessons/tourist.png' %}"/>
                    {% elif lesson.genre == 'GM' %}
                        <img style="margin-left: 10px;"  class="lesson-img" src="{% static 'img/lessons/calculator.png' %}"/>
                    {% elif lesson.genre == 'ST' %}
                        <img style="margin-left: 10px;"  class="lesson-img" src="{% static 'img/lessons/book.png' %}"/>
                    {% elif lesson.genre == 'GV' %}
                        <img style="margin-left: 10px;"  class="lesson-img" src="{% static 'img/lessons/microphone.png' %}"/>
                    {% elif lesson.genre == 'R' %}
                        <img style="margin-left: 10px;"  class="lesson-img" src="{% static 'img/lessons/start.png' %}"/>
                    {% elif lesson.genre == 'AL' %}
                        <img style="margin-left: 10px;"  class="lesson-img" src="{% static 'img/lessons/icon.png' %}"/>
                    {% endif %}
                </a>
                <div class="mx-5">
                    <a class="lesson-title-a" href="{% url 'detail_lesson' lesson.id %}">
                        <h3 class="lesson-title">{{ lesson.title|capfirst }} (BASE)</h3>
                    </a>
                    <p>Descrizione: {{ lesson.description|truncatechars:300 }}</p>
                    <p>Prezzo: {{ lesson.price }} €</p>
                </div>
            </div>
            {% if not user.is_staff %}
                {% if lesson.id in purchased_item %}
                    <p>Lezione già acquistata</p>
                {% else %}
                    <a class="btn btn-primary add-to-cart-btn" style="margin-top: 10px; width: 180px;" href="{% url 'cart_add' lesson.id %}"><img class="add-to-cart-icon" src="{% static 'img/home/add-to-cart.png' %}"/><br>Aggiungi al carrello</a>
                {% endif %}
            {% endif %}
            <hr/>
        {% endfor %}
        {% for lesson in lesson_list_2 %}
            <div class="d-flex flex-row">
                <a href="{% url 'detail_lesson' lesson.id %}">
                    {% if lesson.genre == 'PC' %}
                        <img style="margin-left: 10px;"  class="lesson-img" src="{% static 'img/lessons/click.png' %}"/>
                    {% elif lesson.genre == 'A' %}
                        <img style="margin-left: 10px;"  class="lesson-img" src="{% static 'img/lessons/tourist.png' %}"/>
                    {% elif lesson.genre == 'GM' %}
                        <img style="margin-left: 10px;"  class="lesson-img" src="{% static 'img/lessons/calculator.png' %}"/>
                    {% elif lesson.genre == 'ST' %}
                        <img style="margin-left: 10px;"  class="lesson-img" src="{% static 'img/lessons/book.png' %}"/>
                    {% elif lesson.genre == 'GV' %}
                        <img style="margin-left: 10px;"  class="lesson-img" src="{% static 'img/lessons/microphone.png' %}"/>
                    {% elif lesson.genre == 'R' %}
                        <img style="margin-left: 10px;"  class="lesson-img" src="{% static 'img/lessons/start.png' %}"/>
                    {% elif lesson.genre == 'AL' %}
                        <img style="margin-left: 10px;"  class="lesson-img" src="{% static 'img/lessons/icon.png' %}"/>
                    {% endif %}
                </a>
                <div class="mx-5">
                    <a class="lesson-title-a" href="{% url 'detail_lesson' lesson.id %}">
                        <h3 class="lesson-title">{{ lesson.title|capfirst }} (AVANZATO)</h3>
                    </a>
                    <p>Descrizione: {{ lesson.description|truncatechars:300 }}</p>
                    <p>Prezzo: {{ lesson.price }} €</p>
                </div>
            </div>
            {% if not user.is_staff %}
                {% if lesson.id in purchased_item %}
                    <p>Lezione già acquistata</p>
                {% else %}
                    <a class="btn btn-primary add-to-cart-btn" style="margin-top: 10px; width: 180px;" href="{% url 'cart_add' lesson.id %}"><img class="add-to-cart-icon" src="{% static 'img/home/add-to-cart.png' %}"/><br>Aggiungi al carrello</a>
                {% endif %}
            {% endif %}
            <hr/>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    <!-- LEZIONE MEDIO -->
    {% if lesson_list_3.count != 0 or lesson_list_4.count != 0 %}
    <div class="card">
        <h5 class="card-header" style="background-color: #F5A904;">
          DIFFICOLTA' MEDIA
        </h5>
        <div class="card-body">
            {% for lesson in lesson_list_3 %}
                <div class="d-flex flex-row">
                    <a href="{% url 'detail_lesson' lesson.id %}">
                        {% if lesson.genre == 'PC' %}
                            <img style="margin-left: 10px;"  class="lesson-img" src="{% static 'img/lessons/click.png' %}"/>
                        {% elif lesson.genre == 'A' %}
                            <img style="margin-left: 10px;"  class="lesson-img" src="{% static 'img/lessons/tourist.png' %}"/>
                        {% elif lesson.genre == 'GM' %}
                            <img style="margin-left: 10px;"  class="lesson-img" src="{% static 'img/lessons/calculator.png' %}"/>
                        {% elif lesson.genre == 'ST' %}
                            <img style="margin-left: 10px;"  class="lesson-img" src="{% static 'img/lessons/book.png' %}"/>
                        {% elif lesson.genre == 'GV' %}
                            <img style="margin-left: 10px;"  class="lesson-img" src="{% static 'img/lessons/microphone.png' %}"/>
                        {% elif lesson.genre == 'R' %}
                            <img style="margin-left: 10px;"  class="lesson-img" src="{% static 'img/lessons/start.png' %}"/>
                        {% elif lesson.genre == 'AL' %}
                            <img style="margin-left: 10px;"  class="lesson-img" src="{% static 'img/lessons/icon.png' %}"/>
                        {% endif %}
                    </a>
                    <div class="mx-5">
                        <a class="lesson-title-a" href="{% url 'detail_lesson' lesson.id %}">
                            <h3 class="lesson-title">{{ lesson.title|capfirst }} (BASE)</h3>
                        </a>
                        <p>Descrizione: {{ lesson.description|truncatechars:300 }}</p>
                        <p>Prezzo: {{ lesson.price }} €</p>
                    </div>
                </div>
                {% if not user.is_staff %}
                    {% if lesson.id in purchased_item %}
                        <p>Lezione già acquistata</p>
                    {% else %}
                        <a class="btn btn-primary add-to-cart-btn" style="margin-top: 10px; width: 180px;" href="{% url 'cart_add' lesson.id %}"><img class="add-to-cart-icon" src="{% static 'img/home/add-to-cart.png' %}"/><br>Aggiungi al carrello</a>
                    {% endif %}
                {% endif %}
                <hr/>
            {% endfor %}
            {% for lesson in lesson_list_4 %}
                <div class="d-flex flex-row">
                    <a href="{% url 'detail_lesson' lesson.id %}">
                        {% if lesson.genre == 'PC' %}
                            <img style="margin-left: 10px;"  class="lesson-img" src="{% static 'img/lessons/click.png' %}"/>
                        {% elif lesson.genre == 'A' %}
                            <img style="margin-left: 10px;"  class="lesson-img" src="{% static 'img/lessons/tourist.png' %}"/>
                        {% elif lesson.genre == 'GM' %}
                            <img style="margin-left: 10px;"  class="lesson-img" src="{% static 'img/lessons/calculator.png' %}"/>
                        {% elif lesson.genre == 'ST' %}
                            <img style="margin-left: 10px;"  class="lesson-img" src="{% static 'img/lessons/book.png' %}"/>
                        {% elif lesson.genre == 'GV' %}
                            <img style="margin-left: 10px;"  class="lesson-img" src="{% static 'img/lessons/microphone.png' %}"/>
                        {% elif lesson.genre == 'R' %}
                            <img style="margin-left: 10px;"  class="lesson-img" src="{% static 'img/lessons/start.png' %}"/>
                        {% elif lesson.genre == 'AL' %}
                            <img style="margin-left: 10px;"  class="lesson-img" src="{% static 'img/lessons/icon.png' %}"/>
                        {% endif %}
                    </a>
                    <div class="mx-5">
                        <a class="lesson-title-a" href="{% url 'detail_lesson' lesson.id %}">
                            <h3 class="lesson-title">{{ lesson.title|capfirst }} (AVANZATO)</h3>
                        </a>
                        <p>Descrizione: {{ lesson.description|truncatechars:300 }}</p>
                        <p>Prezzo: {{ lesson.price }} €</p>
                    </div>
                </div>
                {% if not user.is_staff %}
                    {% if lesson.id in purchased_item %}
                        <p>Lezione già acquistata</p>
                    {% else %}
                        <a class="btn btn-primary add-to-cart-btn" style="margin-top: 10px; width: 180px;" href="{% url 'cart_add' lesson.id %}"><img class="add-to-cart-icon" src="{% static 'img/home/add-to-cart.png' %}"/><br>Aggiungi al carrello</a>
                    {% endif %}
                {% endif %}
                <hr/>
            {% endfor %}
      </div>
    </div>
    {% endif %}
    <!-- LEZIONE DIFFICILE -->
    {% if lesson_list_5.count != 0 or lesson_list_6.count != 0 %}
    <div class="card">
        <h5 class="card-header" style="background-color: #ff3300;">
            DIFFICOLTA' DIFFICILE
        </h5>
        <div class="card-body">
            {% for lesson in lesson_list_5 %}
                <div class="d-flex flex-row">
                    <a href="{% url 'detail_lesson' lesson.id %}">
                        {% if lesson.genre == 'PC' %}
                            <img style="margin-left: 10px;"  class="lesson-img" src="{% static 'img/lessons/click.png' %}"/>
                        {% elif lesson.genre == 'A' %}
                            <img style="margin-left: 10px;"  class="lesson-img" src="{% static 'img/lessons/tourist.png' %}"/>
                        {% elif lesson.genre == 'GM' %}
                            <img style="margin-left: 10px;"  class="lesson-img" src="{% static 'img/lessons/calculator.png' %}"/>
                        {% elif lesson.genre == 'ST' %}
                            <img style="margin-left: 10px;"  class="lesson-img" src="{% static 'img/lessons/book.png' %}"/>
                        {% elif lesson.genre == 'GV' %}
                            <img style="margin-left: 10px;"  class="lesson-img" src="{% static 'img/lessons/microphone.png' %}"/>
                        {% elif lesson.genre == 'R' %}
                            <img style="margin-left: 10px;"  class="lesson-img" src="{% static 'img/lessons/start.png' %}"/>
                        {% elif lesson.genre == 'AL' %}
                            <img style="margin-left: 10px;"  class="lesson-img" src="{% static 'img/lessons/icon.png' %}"/>
                        {% endif %}
                    </a>
                    <div class="mx-5">
                        <a class="lesson-title-a" href="{% url 'detail_lesson' lesson.id %}">
                            <h3 class="lesson-title">{{ lesson.title|capfirst }} (BASE)</h3>
                        </a>
                        <p>Descrizione: {{ lesson.description|truncatechars:300 }}</p>
                        <p>Prezzo: {{ lesson.price }} €</p>
                    </div>
                </div>
                {% if not user.is_staff %}
                    {% if lesson.id in purchased_item %}
                        <p>Lezione già acquistata</p>
                    {% else %}
                        <a class="btn btn-primary add-to-cart-btn" style="margin-top: 10px; width: 180px;" href="{% url 'cart_add' lesson.id %}"><img class="add-to-cart-icon" src="{% static 'img/home/add-to-cart.png' %}"/><br>Aggiungi al carrello</a>
                    {% endif %}
                {% endif %}
                <hr/>
            {% endfor %}
            {% for lesson in lesson_list_6 %}
                <div class="d-flex flex-row">
                    <a href="{% url 'detail_lesson' lesson.id %}">
                        {% if lesson.genre == 'PC' %}
                            <img style="margin-left: 10px;"  class="lesson-img" src="{% static 'img/lessons/click.png' %}"/>
                        {% elif lesson.genre == 'A' %}
                            <img style="margin-left: 10px;"  class="lesson-img" src="{% static 'img/lessons/tourist.png' %}"/>
                        {% elif lesson.genre == 'GM' %}
                            <img style="margin-left: 10px;"  class="lesson-img" src="{% static 'img/lessons/calculator.png' %}"/>
                        {% elif lesson.genre == 'ST' %}
                            <img style="margin-left: 10px;"  class="lesson-img" src="{% static 'img/lessons/book.png' %}"/>
                        {% elif lesson.genre == 'GV' %}
                            <img style="margin-left: 10px;"  class="lesson-img" src="{% static 'img/lessons/microphone.png' %}"/>
                        {% elif lesson.genre == 'R' %}
                            <img style="margin-left: 10px;"  class="lesson-img" src="{% static 'img/lessons/start.png' %}"/>
                        {% elif lesson.genre == 'AL' %}
                            <img style="margin-left: 10px;"  class="lesson-img" src="{% static 'img/lessons/icon.png' %}"/>
                        {% endif %}
                    </a>
                    <div class="mx-5">
                        <a class="lesson-title-a" href="{% url 'detail_lesson' lesson.id %}">
                            <h3 class="lesson-title">{{ lesson.title|capfirst }} (AVANZATO)</h3>
                        </a>
                        <p>Descrizione: {{ lesson.description|truncatechars:300 }}</p>
                        <p>Prezzo: {{ lesson.price }} €</p>
                    </div>
                </div>
                {% if not user.is_staff %}
                    {% if lesson.id in purchased_item %}
                        <p>Lezione già acquistata</p>
                    {% else %}
                        <a class="btn btn-primary add-to-cart-btn" style="margin-top: 10px; width: 180px;" href="{% url 'cart_add' lesson.id %}"><img class="add-to-cart-icon" src="{% static 'img/home/add-to-cart.png' %}"/><br>Aggiungi al carrello</a>
                    {% endif %}
                {% endif %}
                <hr/>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% if lesson_list_1.count == 0 and lesson_list_2.count == 0 and lesson_list_3.count == 0 and lesson_list_4.count == 0 and lesson_list_5.count == 0 and lesson_list_6.count == 0 %}
        <div class="container my-5 text-center">
            <p>
                Non sono presenti lezioni sul sito.<br/>
                Lo staff di Virgiliancode si scusa per l'inconveniente,<br/>
                vi assicuriamo che presto aggiungeremo nuove lezioni.
            </p>
            <img class="no-lesson-img" src="{% static 'img/home/no_lessons.png' %}"/>
            <p>
                Nel mentre potete prenotare lezioni in streaming <br/>
                con i nostri formatori nella sezione apposita del sito dopo esservi registrati.
            </p>
            {% if user.is_authenticated %}
                <a class="btn btn-primary" href="{% url 'booking' %}">Prenota una videolezione live</a>
            {% endif %}
        </div>
    {% endif %}
</div>
{% endblock %}

{% block personal_js %}

{% endblock %}