{% extends 'base.html' %}
{% load static %}

{% block browser_page_title %}Virgilian Code{% endblock %}

{% block personal_css %}
    <link rel="stylesheet" href="{% static 'css/landing.css' %}"/>
{% endblock %}

{% block content %}
    <!-- cover image -->
    <div class="cover-image" style="background-image: url('{% static 'img/landing/cover.png' %}');">
        <h1>CREA <span style="font-weight: bold">INSIEME A NOI</span> I TUOI VIDEOGIOCHI CON SCRATCH</h1>
        <h3>Fai il tuo primo passo nel mondo della programmazione <span style="font-weight: bold">con noi</span></h3>
        <div><a class="btn btn-primary px-4 mt-3" style="color: white" href="{% url 'homePage' %}">Vieni a vedere i nostri giochi</a></div>
    </div>
    <div class="container-lg container-fluid my-5">
        <!-- 3 immagini di offerta -->
        <h1 class="mt-3 mb-5">COSA OFFRE VIRGILIAN CODE?</h1>
        <div class="image-container">
            <div class="image-item px-2">
                <img src="{% static 'img/landing/video.png' %}"/>
                <h5 class="mt-3">VIDEOLEZIONI</h5>
                <h4>Crea il tuo videogioco seguendo una delle nostre videolezioni!</h4>
            </div>
            <div class="image-item px-2">
                <img src="{% static 'img/landing/video-file.png' %}"/>
                <h5 class="mt-3">PACCHETTO VIDEOLEZIONI</h5>
                <h4>Crea la tua libreria di videogiochi seguendo un pacchetto di videolezioni pensato appositamente per te!</h4>
            </div>
            <div class="image-item px-2">
                <img src="{% static 'img/landing/streaming.png' %}"/>
                <h5 class="mt-3">LEZIONI IN LIVE</h5>
                <h4>Crea i tuoi videogiochi insieme a noi attraverso una lezione guidata passo dopo passo in live streaming!</h4>
            </div>
        </div>
        <!-- paragrafo 1 -->
        <div class="paragraph-container">
            <div>
                <h1 class="mb-2">Entra nel mondo dell'informatica <br> e della programmazione</h1>
                <p class="px-md-3 pr-lg-4">Hai figli dai 7 ai 13 anni e vorresti che provassero
ad avvicinarsi al mondo dell'informatica e della
programmazione? <br>Ti sembra troppo presto, ma
pensi che sarebbe bello impegnare un po' della
loro giornata in modo originale? Lo staff di Virgilian Code è qui per voi.</p>
            </div>
            <img class="mx-md-auto" style="width: 450px; height: 450px" src="{% static 'img/landing/paragrafo_1.png' %}"/>
        </div>
        <!-- paragrafo 2 -->
        <div class="paragraph-container">
        <img class="mx-md-auto" style="width: 600px; height: 400px" src="{% static 'img/landing/scratchkidlandingpage_1.png' %}"/>
            <div>
                <h1 class="mb-2">Impara giocando</h1>
                <p class="px-md-3 pl-lg-4">Svolgi con noi giochi ed esercizi utili a veicolare i principi
base della programmazione attraverso la
creazione di videogiochi e storie animate
utilizzando programmi adatti ad ogni età. <br> Se hai
un figlio entusiasta, curioso e un po' di tempo per stare vicino a lui mentre impara con noi, registrati e scopri quello che abbiamo preparato per te.</p>
            </div>
        </div>
        <!-- 3 immagini di presentazione -->
        <h1 class="mt-3 mb-5">PERCHÉ SCEGLIERE VIRGILIAN CODE?</h1>
        <div class="image-container">
            <div class="image-item px-2">
                <img src="{% static 'img/landing/computer.png' %}"/>
                <h5 style="font-size: large"class="mt-3">PENSIERO COMPUTAZIONALE</h5>
                <p style="font-size: large">Sviluppa con noi le basi del pensiero computazionale e del problem solving.</p>
            </div>
            <div class="image-item px-2">
                <img src="{% static 'img/landing/videogames.png' %}"/>
                <h5 class="mt-3">IL TUO VIDEOGAME</h5>
                <p style="font-size: large">Impara con noi a creare diversi giochi per la tua personale libreria di videogames.</p>
            </div>
            <div class="image-item px-2">
                <img src="{% static 'img/landing/think.png' %}"/>
                <h5 class="mt-3">CREATIVITÀ</h5>
                <p style="font-size: large">Dai sfogo alla tua creatività, alla tua fantasia e alle tue idee!</p>
            </div>
            <div class="image-item px-2">
                <img src="{% static 'img/landing/programmazione.png' %}"/>
                <h5 class="mt-3">NUOVO LINGUAGGIO</h5>
                <p style="font-size: large">Impara con noi il tuo primo linguaggio di programmazione</p>
            </div>
        </div>
    </div>
{% endblock %}