{% extends 'base.html' %}
{% load static %}

{% block browser_page_title %}Tariffe{% endblock %}

{% block personal_css %}
    <link rel="stylesheet" href="{% static 'css/tariffe.css' %}"/>
{% endblock %}

{% block content %}
    <h1 class="scritta_tariffe"> Tariffe </h1>
    <table class="table tabella mx-auto">
      <thead>
        <tr>
          <th scope="col">Prodotto</th>
          <th scope="col">Prezzo</th>
          <th scope="col">(Sconto)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">Videolezione</td>
          <td> 20 €</td>
          <td> - </td>
        </tr>
        <tr>
          <td scope="row">Pacchetto di 5 videolezioni</td>
          <td> 90 €</td>
          <td> 10 %</td>
        </tr>
        <tr>
          <td scope="row">Percorso (15 videolezioni) </td>
          <td> 250 €</td>
          <td> 25 % </td>
        </tr>
        <tr>
          <td scope="row">Videolezione live</td>
          <td> 20 € / h </td>
          <td> - </td>
        </tr>
      </tbody>
    </table>

    <div class="container container_paragrafi_tariffe mb-5">
        <!-- paragrafo videolezioni -->
        <div class="paragraph-container">
            <img class="mb-3" src="{% static 'img/home/video.png' %}"/>
            <div>
                <h1>Videolezioni</h1>
                <p class="px-md-3 pr-lg-4">Le videolezioni sono dei video della durata di 1 ora registrati dai nostri migliori formatori all'interno dei quali viene costruito passo dopo passo un videogioco interattivo.</p>
            </div>
        </div>
        <!-- paragrafo pacchetti -->
        <div class="paragraph-container">
            <img class="mb-3" src="{% static 'img/home/video-file.png' %}"/>
            <div>
                <h1>Pacchetti di videolezioni</h1>
                <p class="px-md-3 pr-lg-4">I pacchetti di videolezioni sono composti da 5 videolezioni della stessa difficoltà riguardanti un certo tema o una certa tipologia di videogioco.</p>
            </div>
        </div>
        <!-- paragrafo percorsi -->
        <div class="paragraph-container mt-3">
            <img class="mb-3" src="{% static 'img/home/percorso_icon.png' %}"/>
            <div>
                <h1>Percorsi</h1>
                <p class="px-md-3 pr-lg-4">I percorsi sono formati da 3 pacchetti di videolezioni (15 videolezioni) scelti da nostri formatori per dare ai vostri figlio un percorso completo ed efficace di difficoltà crescente.</p>
            </div>
        </div>
        <!-- paragrafo 4 -->
        <div class="paragraph-container mt-3">
            <img class="mb-3" src="{% static 'img/home/streaming.png' %}"/>
            <div>
                <h1>Videolezioni live</h1>
                <p class="px-md-3 pr-lg-4">Le videolezioni live sono lezioni in diretta tenute dai nostri formatori (attraverso l'utilizzo del software webex) in cui i vostri figli saranno seguiti passo per passo durante la creazione dei loro progetti</p>
            </div>
        </div>
    </div>
{% endblock %}