{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}

{% block browser_page_title %}Virgilian Code - staff - dettaglio - aggiornamento {% endblock %}

{% block personal_css %}
{% endblock %}

{% block content %}
    <div class="container my-5" style="padding-top: 130px; padding-bottom: 130px">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-primary" type="submit" value="Modifica">
            <a class="btn btn-primary" href="{% url 'login_redirect_url' %}">Annulla</a>
        </form>
    </div>
{% endblock %}