{% extends 'struttura_staff.html' %}
{% load static %}

{% block browser_page_title %}Virgilian Code - pagina dello staff{% endblock %}

{% block personal_css %}
    <link rel="stylesheet" href="{% static 'css/userPage.css' %}">
{% endblock %}

{% block content %}
    {% if not user.is_superuser %}
        <div class="container my-5 text-center">
    {% else %}
        <div class="container-fluid my-5 text-center">
    {% endif %}

        <!-- CARD UTENTE -->
        <div class="card" style="width: 18rem; margin: auto; margin-right: 10px">
            {% if profile.foto == 'uploaded_files/media/user_db/user_photo/None/none_picture.png' %}
                <img class="card-img p-3" style="height: 280px; width:280px" src="{{ profile.foto }}" alt="Card image cap">
            {% else %}
                <img class="card-img p-3" style="height: 280px; width:280px" src="/uploaded_files/{{ profile.foto }}" alt="Card image cap">
            {% endif %}
            <ul class="list-group list-group-flush">
                {% if not user.is_superuser %}
                    <li class="list-group-item">{{ user.first_name }} {{ user.last_name }}</li>
                {% endif %}
                <li class="list-group-item">Email: {{ user.email }} </li>
                <li class="list-group-item">Username: {{ user.username }}</li>
            </ul>
            <div class="card-body" style="width: 18rem; margin: auto; margin-right: 10px">
                <a href="{% url 'detail_update_staff' user.id %}" class="card-link">Modifica</a>
            </div>
        </div>

        <div class="card" style="width: 18rem; margin: auto; margin-right: 10px; background-color: rgb(68, 142, 255);">
            <img class="mx-auto my-5" style="height: 250px; width:250px; margin-right: 10px" src="{% static 'img/training.png' %}">
            <a style="margin-top:10px" class="btn btn-secondary" href="{% url 'list_hub' %}">Gestione lezioni</a>
        </div>
        {%  if user.is_superuser %}
            <div class="card" style="width: 18rem; margin: auto; margin-right: 10px; background-color: rgb(68, 142, 255);">
                <img class="mx-auto my-5"  style="height: 250px; width:250px" src="{% static 'img/month.png' %}">
                <a  style="margin-top:10px" class="btn btn-secondary" href="{% url 'booking_admin' %}">Gestione prenotazioni</a>
            </div>
        {% else %}
            <div class="card" style="width: 18rem; margin: auto; margin-right: 10px; background-color: rgb(68, 142, 255);">
                <img  class="mx-auto my-5" style="height: 250px; width:250px" src="{% static 'img/month.png' %}">
                <a  style="margin-top:10px" class="btn btn-secondary" href="{% url 'booking_staff' %}">Visualizza prenotazioni</a>
            </div>
        {% endif %}

        <!-- SOLO PER ADMIN -->
        {% if user.is_superuser %}
            <div class="card" style="width: 18rem; margin: auto; background-color: rgb(68, 142, 255);">
                <img style="height: 250px; width:250px" class="mx-auto my-5" src="{% static 'img/team.png' %}" style="width: 100px; heigth: 100px;">
                <a  style="margin-top:10px" class="btn btn-secondary" href="{% url 'staff_list' %}">  Gestione staff</a>
            </div>
        {% endif %}
    </div>
{% endblock %}