{% extends 'struttura_staff.html' %}
{% load static %}

{% block browser_page_title %}Virgilian Code - pagina dello staff{% endblock %}

{% block personal_css %}
    <link rel="stylesheet" href="{% static 'css/lesson_list.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid my-5" style="padding-right: 150px; padding-left: 150px;">
        <h1> STAFF </h1>
        <table class="table tabella mx-auto">
            <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Cognome</th>
                    <th scope="col">Email</th>
                    <th scope="col">Data ultimo login</th>
                    <th scope="col">Azioni</th>
                </tr>
            </thead>
            <tbody>
                {% for user in user_list %}
                    {% if user.is_staff %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.first_name }}</td>
                            <td>{{ user.last_name }}</td>
                            <td>{{ user.email }}</td>
                            {% if user.last_login != None %}
                                <td>{{ user.last_login.day }}/{{ user.last_login.month }}/{{ user.last_login.year }} {{ user.last_login.hour }}:{{ user.last_login.minute }}</td>
                            {% else %}
                                <td class="text-center">-</td>
                            {% endif %}
                            <td>
                                {% if  not user.is_superuser and user.username != 'staff_virgiliancode' %}
                                    <a class="btn btn-secondary my-2" href="{% url 'update_staff' user.id %}">modifica</a>
                                    <a class="btn btn-secondary" href="{% url 'delete_staff' user.id %}">elimina</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-secondary" href="{% url 'create_staff' %}">Inserisci nuovo membro dello staff</a>
    </div>
{% endblock %}