{% extends 'base.html' %}
{% load static %}

{% block browser_page_title %}Reset password completato{% endblock %}

{% block personal_css %}
{% endblock %}

{% block content %}
    <div class="container my-5" style="padding-top: 150px; padding-bottom: 200px; text-align: center">
        <h1> Reset password completato! </h1>
        <h5>
            Complimenti, hai reimpostato la tua password con successo! <br>Esegui il <a href="{% url 'user_login' %}">login</a> ora.
        </h5>
    </div>
{% endblock %}