{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_filters %}

{% block browser_page_title %}Password reset{% endblock %}

{% block personal_css %}
    <link rel="stylesheet" href="{% static 'css/prenotazioni.css' %}"/>
{% endblock %}

{% block content %}
    <div class="container my-5" style="padding-bottom: 150px; padding-top: 150px">
        <h1> Reset della password </h1>
        <form method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            <input class="btn btn-primary" type="submit" value="Reimposta password"/>
        </form>
    </div>
{% endblock %}