{% extends 'base.html' %}
{% load static %}

{% block browser_page_title %}Reset password{% endblock %}

{% block personal_css %}
    <link rel="stylesheet" href="{% static 'css/prenotazioni.css' %}"/>
{% endblock %}

{% block content %}
    <div class="container my-5" style="padding-top: 150px; padding-bottom: 150px">
        <h1> Reset password avviato </h1>
        <p>
            Se l'account email che hai inserito è valido, ti abbiamo inviato un'email con le istruzioni per reimpostare la tua password.
            Dovresti riceverla a breve.
        </p>
        <p>
            Se non ricevi l'email, per favore assicurati di aver immesso l'indirizzo con cui ti sei registrato a Virgilian Code Online. <br> Inoltre controlla la cartella dello spam.
        </p>
    </div>
{% endblock %}