{% extends 'base.html' %}
{% load static %}

{% block browser_page_title %}Virgilian Code{% endblock %}

{% block personal_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    <div class="container my-5 text-center py-5">
        <div class="media my-5">
            <img src="{% static 'img/calendar.png' %}" class="align-self-center mr-3" style="width: 192px; height: 192px">
            <div class="media-body">
                <h5 class="mt-0">Prenotazioni</h5>
                <p>In questa pagina puoi visualizzare tutte le informazioni delle prenotazioni che hai effettuato</p>
                <p class="mb-0">Potrai visualizzare le prenotazioni in attesa di conferma o annullamento, le prenotazioni già confermate o annullate imminenti e le prenotazioni ormai scadute.</p>
                <p class="mb-0">In questo modo potrai avere uno storico di tutte le prenotazioni passate e future e visualizzae quanto tempo rimane per avere una conferma o per effettuare una videolezione in streaming.</p>
            </div>
        </div>
        {% if booking %}
            <h1 class="my-5">Prenotazioni in attesa di conferma</h1>
            <table class="table mb-5">
                <thead>
                    <tr>
                        <th scope="col">Id prenotazione</th>
                        <th scope="col">data</th>
                        <th scope="col">ora</th>
                        <th scope="col">Tempo rimanente per la conferma</th>
                    </tr>
                </thead>
                <tbody>
                    {% for b in booking %}
                        <tr>
                            <td scope="row">{{ b.id }}</td>
                            <td scope="row">{{ b.data.day }}/{{ b.data.month }}/{{ b.data.year }}</td>
                            <td scope="row">{{ b.ora.hour }}:{{ b.ora.minute}}</td>
                            <td><div id="clock_{{ b.id }}"></div></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

        {% if booking_status %}
            <h1 class="my-5">Videolezioni live prenotate</h1>
            <table class="table mb-5">
                <thead>
                    <tr>
                        <th scope="col">Id prenotazione</th>
                        <th scope="col">Data</th>
                        <th scope="col">Ora</th>
                        <th scope="col">formatore</th>
                        <th scope="col">Tempo rimanente alla lezione</th>
                        <th scope="col">stato prenotazione</th>
                    </tr>
                </thead>
                <tbody>
                    {% for b in booking_status %}
                        <tr>
                            <td scope="row">{{ b.booking.id }}</td>
                            <td scope="row">{{ b.booking.data.day }}/{{ b.booking.data.month }}/{{ b.booking.data.year }}</td>
                            <td scope="row">{{ b.booking.ora.hour }}:{{ b.booking.ora.minute}}</td>
                            <td>{{ b.formatore.username }}</td>
                            <td><div id="clock_bs_{{ b.id }}">-</div></td>
                            <td>
                                {% if b.stato == '1' %}
                                    Confermato
                                {% else %}
                                    Annullato
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="media">
                <div class="media-body">
                    <h5 class="mt-0 mb-1">Nessuna videolezione</h5>
                    Ancora non hai prenotato videolezioni in live per il prossimo futuro. Effettua la tua prenotazione nella sezione apposita del nostro sito oppure acquista delle videolezioni preregistrate e comincia subito ad imparare con noi.
                    Inoltre ti ricordo che prima di poter vedere lo stato della tua prenotazioni (confermato o annullato) devi attendere al massimo fino a tre giorni prima della data di prenotazione.
                </div>
                <img src="{% static 'img/no_booking.png' %}" class="ml-5" style="width: 192px; height: 192px;">
            </div>
        {% endif %}

        {% if booking_past %}
            <h1>Prenotazioni passate</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id prenotazione</th>
                        <th scope="col">Data</th>
                        <th scope="col">Ora</th>
                        <th scope="col">formatore</th>
                        <th scope="col">stato prenotazione</th>
                    </tr>
                </thead>
                <tbody>
                    {% for b in booking_past %}
                        <tr>
                            <th scope="row">{{ b.booking.id }}</th>
                            <th scope="row">{{ b.booking.data }}</th>
                            <th scope="row">{{ b.booking.ora }}</th>
                            <td>{{ b.formatore.username }}</td>
                            <td>
                                {% if b.stato == '1' %}
                                    Confermato
                                {% else %}
                                    Annullato
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}

{% block personal_js %}
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous">
    </script>
    <!-- js per il countdown -->
    <script src="{% static 'js/countdown.js' %}"></script>
     <script type="text/javascript">
        function passDate(is_booking, booking_year, booking_month, booking_day, booking_hours, booking_minutes, countdown_id)
        {
            //imposto la data
            deadline = new Date(booking_day, booking_month, booking_year, booking_hours, booking_minutes, 0, 0);

            //tolgo 3 giorni
            if(is_booking)
            {
                var dateOffset = (24*60*60*1000) * 3; //3 days
                deadline.setTime(deadline.getTime() - dateOffset);
            }

            //display del countdown
            var dd = deadline.getDate();
            var mm = deadline.getMonth();
            var yyyy = deadline.getFullYear();
            deadline = yyyy + '/' + mm + '/' + dd;

            $(countdown_id).countdown(deadline, function (event)
            {
                var $this = $(this).html(event.strftime('' + '<div>%D giorni %H ore %M minuti %S secondi</div>'));
            });
        }

        {% for b in booking %}
            passDate(true, {{ b.data.day }}, {{ b.data.month }}, {{ b.data.year }}, {{ b.ora.hour }}, {{ b.ora.minute }}, '#clock_{{ b.id }}');
        {% endfor %}

        {% for b in booking_status %}
            {% if b.stato != '0' %}
                passDate(false, {{ b.booking.data.day }}, {{ b.booking.data.month }}, {{ b.booking.data.year }}, {{ b.booking.ora.hour }}, {{ b.booking.ora.minute }}, '#clock_bs_{{ b.id }}');
            {% endif %}
        {% endfor %}
    </script>
{% endblock %}