{% extends 'base.html' %}
{% load static %}

{% block browser_page_title %}Virgilian Code{% endblock %}

{% block personal_css %}
    <link rel="stylesheet" href="{% static 'css/userPage.css' %}">
{% endblock %}

{% block content %}
    <div class="container my-5">
        <!-- CARD UTENTE -->
        <div class="card" style="width: 18rem;">
            <img class="card-img-top p-3" src="/uploaded_files/{{  profile.foto }}" alt="Card image cap">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ user.first_name }} {{ user.last_name }}</li>
                <li class="list-group-item">Email: {{ user.email }}</li>
                <li class="list-group-item">Username: {{ user.username }}</li>
                <li class="list-group-item">DANARI!: {{ profile.saldo }}</li>
            </ul>
            <div class="card-body">
                <a href="{% url 'user_update' user.id %}" class="card-link">Modifica</a>
            </div>
        </div>
        <!-- CARD ACQUISTI -->
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Prodotti acquistati</b></li>
                <li class="list-group-item">prodotto 1</li>
                <li class="list-group-item">prodotto 2</li>
                <li class="list-group-item">prodotto 3</li>
                <li class="list-group-item">prodotto 4</li>
                <li class="list-group-item">prodotto 5</li>
                <li class="list-group-item">prodotto 6</li>
                <li class="list-group-item">...</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Visualizza tutto</a>
            </div>
        </div>
        <!-- CARD PRENOTAZIONI -->
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Videolezioni live prenotate</b></li>
                <li class="list-group-item">prenotazione 1</li>
                <li class="list-group-item">prenotazione 2</li>
                <li class="list-group-item">prenotazione 3</li>
                <li class="list-group-item">prenotazione 4</li>
                <li class="list-group-item">prenotazione 5</li>
                <li class="list-group-item">prenotazione 6</li>
                <li class="list-group-item">...</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Visualizza tutto</a>
                <a href="{% url 'prenotazioni' %}" class="card-link"><i class="fas fa-plus-circle"></i></a>
            </div>
        </div>
    </div>
{% endblock %}