{% extends 'base.html' %}
{% load static %}

{% block browser_page_title %}Virgilian Code{% endblock %}

{% block personal_css %}
    <link rel="stylesheet" href="{% static 'css/userPage.css' %}">
{% endblock %}

{% block content %}
    <div class="container my-5">
        <!-- CARD UTENTE -->
        <div class="card" style="width: 18rem;">
            {% if profile.foto != "uploaded_files/media/user_db/user_photo/None/none_picture.png" %}                                     <!-- Ho aggiunto un if per distinguere la foto personalizzata scelta dagli utenti dalla foto di default (None per picture) per problemi legati al percorso per come l'avevamo fatto. -->
                <img class="card-img-top p-3" src="/uploaded_files/{{  profile.foto }}" alt="Card image cap">
            {% else %}
                <img class="card-img-top p-3" src="/uploaded_files/media/user_db/user_photo/None/none_picture.png" alt="Card image cap">
            {% endif %}
            <ul class="list-group list-group-flush">
                <a class="list-group-btn" href="">
                    <li class="list-group-item card-edit-img-btn">Modifica immagine</li>
                </a>
                <li class="list-group-item">{{ user.first_name }} {{ user.last_name }}</li>
                <li class="list-group-item">Email: {{ user.email }}</li>
                <li class="list-group-item">Username: {{ user.username }}</li>
            </ul>
            <div class="card-body">
                <a href="{% url 'user_update' user.id %}" class="card-link">Modifica</a>
            </div>
        </div>
        <!-- CARD ACQUISTI -->
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Prodotti acquistati</b></li>
                {% for purchasedItem in purchased_items %}
                    <li class="list-group-item">{{ purchasedItem.lesson.title }}</li>
                {% endfor %}
                {% if purchased_items %}
                    {% if empty_items|length == 1 %}
                        <li class="list-group-item">...</li>
                    {% else %}
                        {% for _ in empty_items %}
                            <li class="list-group-empty my-4"></li>
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </ul>
            <div class="card-body">
                {% if purchased_items %}
                    <a href="{% url 'user_lesson' %}" class="card-link">Visualizza tutto</a>
                {% else %}
                    <div class="d-flex flex-column text-center justify-content-center" style="width: 100%; height: 100%;">
                        <img class="card-empty-img mx-auto" src="{% static 'img/product_empty.png' %}"/>
                        <p class="my-4">Non hai ancora acquistato nessuna lezione</p>
                        <a class="btn btn-primary mx-auto" href="{% url 'homePage' %}">Vedi tutte le lezioni</a>
                    </div>
                {% endif %}
            </div>
        </div>
        <!-- CARD PRENOTAZIONI -->
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Videolezioni live prenotate</b></li>
                <li class="list-group-item">prenotazione 1</li>
                <li class="list-group-item">prenotazione 2</li>
                <li class="list-group-item">prenotazione 3</li>
                <li class="list-group-item">prenotazione 4</li>
                <li class="list-group-item">prenotazione 5</li>
                <li class="list-group-item">prenotazione 6</li>
                <li class="list-group-item">...</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Visualizza tutto</a>
                <a href="{% url 'prenotazioni' %}" class="card-link"><i class="fas fa-plus-circle"></i></a>
            </div>
        </div>
    </div>
{% endblock %}